/* HEADER */

.main-container {
    max-width: 80vw;
    height: 100vh;
    margin-left: 320px;
    margin-right: 56px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: var(--bg-gray);
}

.header__navigation .navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navigation .navigation .arrow-left {
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--bg-gray);
    background-color: var(--bg-arrow-color);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__search {
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: var(--bg-light-gray);
    border-radius: 50px;
    border: 2px solid transparent;
    transition: all 0.2s;
}
.header__search:hover {
    background-color: var(--bg-light-gray);
    filter: brightness(1.2);
}

.header__search img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input {
    background-color: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    border: none;
    cursor: pointer;
    /* transition: color 0.1s; */
}
.header__login .subscribe:hover {
    color: white;
    font-size: 17px;
    margin-right: 30px;
    margin-left: -2px;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: black;
    background-color: #e0e0e0;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}
.header__login .login:hover {
    background-color: white;
    font-size: 17px;
    width: 104px;
    height: 52px;
    margin-right: -2px;
    margin-left: -2px;
}